<% news = paginateNews.data %>
   <% news.forEach(post => { %>

<div class="post-content">
  <div class="row">
    <div class="col-md-4">
      <a class="post-img" href="/single/<%= post._id %>">
        <img src="/uploads/<%= post.image %>" alt="<%= post.title %>"/>
      </a>
    </div>

    <div class="col-md-8">
      <div class="inner-content clearfix">
        
        <h3>
          <a href="/single/<%= post._id %>">
            <%= post.title %>
          </a>
        </h3>

        <div class="post-information">
          <span>
            <i class="fa fa-tags"></i>
            <a href="/category/<%= post.category.slug %>"><%= post.category.name %></a>
          </span>

          <span>
            <i class="fa fa-user"></i>
            <a href="/author/<%= post.author._id %>"><%= post.author.fullname %></a>
          </span>

          <span>
            <i class="fa fa-calendar"></i>
            <%
  const date = new Date(post.createdAt);
  const day = date.getDate();
  const month = date.toLocaleString('en-US', { month: 'short' });
  const year = date.getFullYear();
%>

<%= day %> <%= month %> <%= year %>


            
          </span>
        </div>

        <p class="description">
  <%= post.content.replace(/<[^>]*>/g, '').substring(0, 30) %>....
</p>


        <a class="read-more pull-right" href="/single/<%= post._id %>">
          read more
        </a>

      </div>
    </div>
  </div>
</div>

<% }) %>


<% 
function buildQuery(query,page){
      const params = new URLSearchParams(query);
      params.set('page',page);
      return '?' + params.toString();
}


%>


<nav>
  <ul class="pagination">

  <!-- Previous -->
  <% if (paginateNews.hasPrevPage) { %>
    <li class="page-item">
      <a class="page-link" href="<%= buildQuery(query,paginateNews.prevPage) %>">Previous</a>
    </li>
  <% } else { %>
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
  <% } %>

  <!-- Page Numbers -->
  <% for (let i = 1; i <= paginateNews.totalPages; i++) { %>
    <% if (i === paginateNews.currentPage) { %>
      <li class="page-item active">
        <span class="page-link"><%= i %></span>
      </li>
    <% } else { %>
      <li class="page-item">
        <a class="page-link" href="<%= buildQuery(query,i) %>"><%= i %></a>
      </li>
    <% } %>
  <% } %>

  <!-- Next -->
  <% if (paginateNews.hasNextPage) { %>
    <li class="page-item">
      <a class="page-link" href="<%= buildQuery(query,paginateNews.nextPage ) %>">Next</a>
    </li>
  <% } else { %>
    <li class="page-item disabled">
      <span class="page-link">Next</span>
    </li>
  <% } %>

</ul>

  </nav>